---
import config from "@/config";
import { tplStr, useTranslations } from "@/i18n";
import { loadSocialIcons } from "@/utils/loadSocialIcons";
import LinkButton from "./LinkButton.astro";

const { site, socials } = config;
const t = useTranslations(Astro.currentLocale);

const capitalize = (s: string) => s.charAt(0).toUpperCase() + s.slice(1);

const items = await loadSocialIcons(socials, (name, url, linkTitle) => {
  if (linkTitle) return linkTitle;
  if (url.startsWith("mailto:") || name === "mail")
    return tplStr(t.social.emailUs, { title: site.title });
  return tplStr(t.social.findUsOn, {
    title: site.title,
    platform: capitalize(name),
  });
});
---

<div class="flex flex-wrap items-center gap-1">
  {
    items.map(({ url, title, Icon }) =>
      Icon ? (
        <LinkButton href={url} class="p-2 hover:rotate-6 sm:p-1" title={title} aria-label={title}>
          <Icon class="inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110" />
          <span class="sr-only">{title}</span>
        </LinkButton>
      ) : null
    )
  }
</div>
